# --- Dipendenze e Build (per tutte le sottocartelle) ---
node_modules/
dist/
dist-ssr/
*.local

# --- Log ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- File di configurazione sensibili (Fondamentali per il modulo Secrets) ---
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- IDE e Editor (IntelliJ/WebStorm) ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Sistema Operativo ---
.DS_Store
Thumbs.db